.container{
}

#top{
	text-align: center;
	padding-top: 42px;
}

#middle{
	text-align: center;
}

#bottom{
	text-align: center;
}

.font{
	font-family: "Comic Sans MS", cursive, sans-serif;
}

#nav-bar{
	height: 100px;
	width: 100%;
	text-align: center;
}

.list{
	list-style-type: none; 
}

.flex-container{
	display: flex;
	background-color: #ff9933;
	justify-content: center;
}

.flex-container > div {
	 background-color: #ffcc99;
	 margin: 10px;
	 font-size: 25px;
	 font-family: "Comic Sans MS", cursive, sans-serif;
	 padding: 25px;
	 width: 100%;
}

.font-size{
	font-size: 25px;
}

.flex-container2{
	display: flex;
	background-color: #800000;
	justify-content: center;
	padding-top: 10px;
}

.flex-container2 > li {
	background-color: #cc6600;
	margin: 20px;
	font-size: 30px;
	font-family: "Comic Sans MS", cursive, sans-serif;
	width: 100%;
	padding: 25px;
}

.button{
    background-color: #e67300;
    border: none;
    color: black;
    padding: 15px;
    padding-bottom: 10px;
    width: 100%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}